
*.Zip
*.LOG
*.SchDocPreview
Altium/Project Outputs for satFloat/Design Rule Check - satFloat.html
Altium/Project Outputs for satFloat/Design Rule Check - satFloat.drc
*.PcbDocPreview
*.PcbDocPreview
*.PrjPCBStructure
